@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

:root {
  --clr-dark: #1f2937;
  --hero-main: #f9faf8;
  --clr-light: #e5e7eb;
  --light-blue: #3882f6;

  --font-smaller: 1.8rem;
  --font-small: 2.4rem;
  --font-big: 3.6rem;
  --font-bigger: 4.8rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 4.5vw;
  font-family: "Roboto", sans-serif;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header,
section,
footer {
  padding: 2rem 1.5rem;
}

/* helper classes */
.bg-gray {
  background-color: var(--clr-dark);
}

.spacer > *:not(:first-child) {
  margin-top: var(--margin, 1em);
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  color: var(--hero-main);
  text-decoration: none;
  padding: 0.3em 1.5em;
  border-radius: 5px;
  font-weight: 900;
  letter-spacing: 1px;
}

.btn:hover {
  cursor: pointer;
}

.section-one .btn {
  background-color: var(--light-blue);
}

.cta .btn {
  outline: 2px solid var(--hero-main);
  align-self: flex-start;
}

.gray {
  color: var(--clr-dark);
}

/* header */
header .wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--hero-main);
}

.logo {
  font-weight: 900;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* section one */
.section-one_info {
  color: var(--hero-main);
}

.section-one .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  gap: 2rem;
}

.section-one_image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-light);
}

/* section two */
.section-two .wrapper {
  text-align: center;
}

.flex-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.card_box {
  padding: 4rem;
  border: 2px solid var(--light-blue);
  border-radius: 10px;
}

.card {
  --margin: 0.5em;

  width: 60%;
}

/* section three */
.bg-light {
  background-color: var(--clr-light);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.column span {
  align-self: flex-end;
}

/* section four */
.cta {
  color: var(--hero-main);
  background-color: var(--light-blue);
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
